/**
* Name: Startupped App
* Version: 1.0.0
* URL: www.startupped.io
* Description: StartUpped - See your startup grow
* Author: Techparastat Team
* Author URL: www.techparastat.com
*/
/* General declarations */
/* Including Fonts */
@font-face {
    font-family: "Roboto";
    src: local(Roboto Thin), url("fonts/roboto/Roboto-Thin.eot");
    src: url("fonts/roboto/Roboto-Thin.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Thin.woff2") format("woff2"), url("fonts/roboto/Roboto-Thin.woff") format("woff"), url("../fonts/roboto/Roboto-Thin.ttf") format("truetype");
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    src: local(Roboto Light), url("fonts/roboto/Roboto-Light.eot");
    src: url("fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Light.woff2") format("woff2"), url("fonts/roboto/Roboto-Light.woff") format("woff"), url("fonts/roboto/Roboto-Light.ttf") format("truetype");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src: local(Roboto Regular), url("fonts/roboto/Roboto-Regular.eot");
    src: url("fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("fonts/roboto/Roboto-Regular.woff") format("woff"), url("fonts/roboto/Roboto-Regular.ttf") format("truetype");
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto/Roboto-Medium.eot");
    src: url("fonts/roboto/Roboto-Medium.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Medium.woff2") format("woff2"), url("fonts/roboto/Roboto-Medium.woff") format("woff"), url("fonts/roboto/Roboto-Medium.ttf") format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src: url("fonts/roboto/Roboto-Bold.eot");
    src: url("fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"), url("fonts/roboto/Roboto-Bold.woff2") format("woff2"), url("fonts/roboto/Roboto-Bold.woff") format("woff"), url("fonts/roboto/Roboto-Bold.ttf") format("truetype");
    font-weight: 700;
}
/* General Styles */
.theme-color{
    color: #F2194E;
}
.mdl-cell {
    padding: 5px;
}
.container-width{
    max-width: 1450px;
}
a {
    text-decoration: none;
}
html,body {
    line-height: 1.5;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.87);
    background-color: #EEEEEE;
}
/* Header */
.primary-navbar{
    background-color: #ED005A;
    margin-bottom: 2px;
}
a.mdl-navigation__link:hover {
    background-color: #d40050;
}
.res-logo{
    width: 170px;
}
.responsive-img{
    width: 90%;
}
.mdl-navigation__link{
    font-weight: 500;
    font-size: 15px;
    color: #ffffff;
    opacity: 1 !important;
}
.cen-align{
    text-align: center;
}
/* SCREEN 1 - CHAPTER SELECTION */
/* CHOOSING CHAPTERS */
.chapter-sec{
    padding-top: 50px;
}
.chapter-card{
    margin-left: auto;
    margin-right: auto;
    width: 512px;
}
.have-idea-chapter > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/have-idea-chapter.png') center / cover;
}
.existing-startup-chapter > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/existing-startup-chapter.png') center / cover;
}
.investor-chapter > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/investor-chapter.png') center / cover;
}
.no-idea-chapter > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../images/no-idea-chapter.png') center / cover;
}
h2.mdl-card__title-text.card-title {
    font-size: 25px;
    font-weight: 500;
}
.chapter-card-content{
    color: rgba(0,0,0, 0.54);
    font-size: 1.15rem;
    line-height: 18px;
    overflow: hidden;
    padding: 16px 16px;
    width: 90%;
}
/* SCREEN 2 - QUESTIONNAIRE */
p.question-env-setting {
    font-size: 15px;
}
/* SCREEN 3 - GETTING BOX */
/* Idea box */
.idea-box-container{
    background-color: #FFFFFF;
}
.idea-content-box{
    width: 100%;
}
.next-btn, .next-btn:hover{
    float: right;
    background-color: #F2194E;
    color: #FFFFFF;
}
/* SCREEN 4 - DASHBOARD */
.mdl-grid.explaining-security {
    background-color: #ffffff;
    overflow-x: auto;
    overflow-y: auto;
    height: 350px;
    position: relative;
}
.privacy-statement{
    font-size: 18px;
    text-align: left !important;
}
ul.privacy-points li{
    font-size: 15px;
    margin-top: 10px;
}
.privacy-foo-txt{
    text-align: right;
    font-weight: 600;
}
.agree-terms{
    text-align: left;
    font-weight: 600;
}
.finish-btn, .finish-btn:hover{
    float: right;
    background-color: #F2194E;
    color: #FFFFFF;
}
/* SCREEN 5 - DASHBOARD */
/* Sidebar */
.mdl-layout__drawer{
    background-color: #616161;
    color: #FFFFFF;
}
a.mdl-navigation__link {
    text-transform: capitalize;
    color: #FFFFFF !important;
    font-size: 20px !important;
}
.sidebar-menu-items{
    height: 40px !important;
    line-height: 40px !important;
}
a.sidebar-menu-items:hover {
    background-color: #333 !important;
}
.user-section-sidebar{
    align-self: center;
}
.user-avatar{
    margin-top: 10px;
    width: 140px;
}
/* Media Queries */
/* General media queries */
@media only screen and (max-width: 650px){
    .disable-650px-devices{
        display: none !important;
    }
    .mob-logo{
        margin-left: 25% !important;
    }
}
@media only screen and (min-width: 655px){
    .mdl-layout__header .mdl-layout__drawer-button{
        display: none !important;
    }
}